<div class="container">
  <div class="col-md-12">
    <h2 class="itin-title"><%= @itinerary.name %> (<%= @itinerary.duration %> days)</h2>
    <p><%= @itinerary.desc %></p>
    <p>insert activity cards here</p>
    <p>insert activity cards here</p>
    <p>insert activity cards here</p>
    <%= link_to "Edit", edit_itinerary_path, class: "btn btn-primary" %>
  </div>
</div>
