<div id="site_index">
  <!--header-->
  <header>
    <div class="jumbotron">
      <div class="container">
        <% if current_user %>
          <h1>Welcome, <%= "#{current_user.first_name}" %></h1>
          <p>Where would you like to go?</p>
        <% else %>
          <h1>Splash Hero Page</h1>
          <p>Plan your trip with us!</p>
        <% end %>
      </div>
    </div>
  </header>
  <!--end of header-->

  <!--cities section-->
  <section id="cities_index">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <a href="#" class="thumbnail">
               <img src="http://healthpsychology.ucsf.edu/sites/healthpsychology.ucsf.edu/files/wysiwyg/GGBridge%20at%20dusk.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <a href="#" class="thumbnail">
               <img src="http://1010uk.a.cdnify.io/sites/default/files/eiffel-tower-cameron-wears-BY-NC-banner.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <a href="#" class="thumbnail">
               <img src="http://placehold.it/500x250" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <a href="#" class="thumbnail">
               <img src="http://placehold.it/500x250" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--end of cities section-->
</div> <!--closes site_index-->
