<div id="site_index">
  <!--header-->
  <header>
    <div class="jumbotron">
      <div class="container">
        <% if current_user %>
          <h1>Welcome, <%= "#{current_user.first_name}" %></h1>
          <p>Where would you like to go?</p>
        <% else %>
          <h1>Splash Hero Page</h1>
          <p>Plan your trip with us!</p>
        <% end %>
      </div>
    </div>
  </header>
  <!--end of header-->

  <!--cities section-->
  <section id="cities_index">
    <div class="container">
      <div class="row text-center">
        <h1>Cities</h2>
      </div>
      <div class="row">
        <% @cities.each do |city| %>
          <%= link_to city_path(city.id) do %>
            <div class="col-lg-6 col-sm-6 col-xs-12 city-img" style="background-image: url(<%= city.img %>); min-height: 450px">
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <!--end of cities section-->
</div> <!--closes site_index-->
