// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#flash_error {
  position: absolute;
  margin-top:125px;
  margin-left: 50px;
}

#yield_start {
  padding-top: 64px;
}

#mainNav {
  /*navbar a tag properties*/
  a {
    color: #FF6103;
    font-weight: 450;
    font-size: 17px;
  }

  /*navbar drop down*/
  a:hover,
  a:focus {
    color: blue;
    font-weight: bold;
    font-size: 17px;
  }

  /*navbar vagabond text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'Montserrat','Helvetica Neue',Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 25px;
      color: #FF6103;
      // height: 50px;
  }

  /*navbar vagabond text changes color on hover*/
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: blue;
  }

  /*navbar li changes color on hover*/
  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
      color: blue;
  }

  .brand {
    width: 60px;
    margin-top: 2%;
  }

} /*closes navbar*/

/*global variables*/
  section {
      padding-top: 25px;
  }
  hr {
    max-width: 100px;
    border-color: orange;
    border-width: 3px;
  }
  header {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    background-image: url("landing_page.jpg");
    background-position: center;
    background-size: cover;
    height: 575px;
  }

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 10%;
    /*text-transform: uppercase;*/
    font-weight: 900;
    font-size:80px;
    color: #FF6103;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 300px;
    font-size: 30px;
    font-weight: 60;
    color: white;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 30%;
        padding: 0 50px;
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        margin-top: 60%;
        font-size: 100px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 45px;
        font-weight: 30;
    }
  }/*closes @media*/
/*end of global*/

#site_index {
  #city_gallery {
    margin-top: 20px;
  }
  img {
    margin-bottom: 50px;
  }

  .city_img img:hover {
    opacity: .7;
  }



}/*closes #site_index*/

#user_show {
  header {
    background-image: url(user_background.jpg);
    height: 350px;
  }

  .profile_image {
    height: 100px;
  }

  .profile_pic img{
    height:175px;
    margin-top: -100px;
  }

  #itin_name,
  #itin_desc {
    margin-left: 0;
  }

  .dur {
    font-size: 20px;
  }

  #scroller-wrapper {
      height: 175px;
      width: 100%;
      background-color:white;
      position: relative;
  }
  #act_container {
      position: absolute;
      height: 100%;
      width:100%;
      white-space:nowrap;
      overflow-x:auto;
      overflow-y:hidden;
  }
  .act_contents {
      height: 400px;
      display: inline-block;
  }
} /*closes user_show*/


#city_show {
  header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    color: black;
    background-position: center;
  }

  .glyphicon-edit {
    color: #0A238C;
  }
}

#forms {
  .container {
    margin-top: 10%;
  }
}/*closes forms*/

#city_itineraries {
  .userprofile {
    width: 200px;
  }
}

#itinerary_page{
  h4 {
    text-align: center;
  }
  img {
    width: 125px;
    margin-top: 15px;
  }

  .glyphicon-trash {
    color: red;
  }

  .glyphicon-edit {
    color: #0A238C;
  }
}

/*---END--*/
#index_footer {
  #footer{
    color:#737373;
    padding-top: 5px;
    // margin-top: 110px;
  }

  .bottom{
    background: #404040;
    height:200px;
    }

  .footer{
    text-align: center;
    padding-top:100px;
    margin-top: 50px;
  }

  .footer_line{
    margin: 0 30px 0 30px;
    color: white;
    border: 0 solid none;
    display: inline;
    font-size: 20px;
  }

  .footer_line:hover{
    border-bottom: 3px solid #5c8a8a;
    color: white;
  }

  ul.footer a {
    text-decoration: none;
    color: #FF6103;
  }
}
